{
  "extends": ["eslint:recommended", "plugin:react/recommended", "plugin:react-hooks/recommended", "plugin:react/jsx-runtime"],
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "react/no-direct-mutation-state": "error",
    "react/no-access-state-in-setstate": "error",
    "react/prop-types": "off",
    "react/display-name": "off",
    "import/no-unresolved": "off"  // add this line
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "env": {
    "browser": true
  }
}