.chat-user-detail-popup-local {
  position: absolute;
  top: 0;
  width: 360px;
  background: #fff;
  right: auto;
  overflow: hidden;
  left: 0px;
  z-index: 9;
  height: 100%;
  transition: all 0.45s ease-in-out;
  border-radius: 0.313rem;
}

.react-quill-custom {
  width: 90%;
  height: 50px;
  box-sizing: border-box;
}

i {
  cursor: pointer;
  font-size: large;
}

@media (max-width: 991.98px) {
  .chat-data-left {
    position: absolute;
    left: 0;
    max-width: 100%;
    top: 0;
    z-index: 9;
    background: #fff;
    transform: translateX(0);
    opacity: 1;
    transition: all 0.45s ease-in-out;
    overflow-y: scroll;
    height: 100%;
  }
}
.scroller {
  overflow-y: auto;
  scrollbar-color: var(--bs-primary) rgba(var(--bs-primary-rgb), 0.2);
  scrollbar-width: thin;
}
.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
  margin-top: var(--bs-gutter-y);
}
*, ::before, ::after {
  box-sizing: border-box;
}

.cemporcento {
  flex: 0 0 auto;
  width: 100%;
}

.chat-page .card, .card-body {
  height: 100vh !important;
}