/* Pessoa.css */
.numero-notificacoes {
  width: 20px;
  height: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-left: auto;
  font-size: 12px;
}

/* Estiliza o avatar para ter um pouco de espaço entre ele e o número */
.iq-profile-avatar {
  margin-right: 8px;
}

.foto-nome-avatar{
  height: 60px;
  flex-grow: 0;  /* Impede que a div cresça além do conteúdo */
  flex-shrink: 0; /* Impede que a div encolha abaixo do tamanho do conteúdo */
  flex-basis: auto; /* Baseia o tamanho inicial no conteúdo */
}

.children-content {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.dropdown-menu-pessoa {
  background: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  border-radius: 5px;
  overflow: hidden;
  min-width: 300px;
}
.profile-section {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #eee;
}
.profile-section img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
.profile-info h6, .profile-info p {
  margin: 0;
}
.profile-name {
  font-weight: bold;
}
.action-section {
  display: flex;
  justify-content: center;
  padding: 10px;
}
.btn-primary {
  background-color: #007bff;
  border: none;
}
.btn-secondary {
  background-color: #6c757d;
  border: none;
}
.btn:hover {
  opacity: 0.8;
}
