/* Pessoa.css */
.numero-notificacoes {
  width: 20px;
  height: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-left: auto;
  font-size: 12px;
}

/* Estiliza o avatar para ter um pouco de espaço entre ele e o número */
.iq-profile-avatar {
  margin-right: 8px;
}

.foto-nome-avatar{
  min-width: 200px;
  height: 60px;
  flex-grow: 0;  /* Impede que a div cresça além do conteúdo */
  flex-shrink: 0; /* Impede que a div encolha abaixo do tamanho do conteúdo */
  flex-basis: auto; /* Baseia o tamanho inicial no conteúdo */
}

.children-content {
  flex-grow: 1;
  display: flex;
  align-items: center;
}